.cards-container{
    display: flex;
}

.d-none{
    display: none;
}

.cards-section{
    display: flex;
    flex-wrap: wrap;
}

.card-container{
    min-width: 30%;
    max-width: 30%;
    height: max-content;
    position: relative;
    margin: 40px 12px;
}

.card-display-img{
    width: 100%;
    /* height: 100%; */
    cursor: zoom-in;
    display: block;
}

.hover-elements{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: linear-gradient(180deg,#00000057 0,rgba(0,0,0,.338) 3.5%,rgba(0,0,0,.324) 7%,rgba(0,0,0,.306) 10.35%,rgba(0,0,0,.285) 13.85%,rgba(0,0,0,.262) 17.35%,rgba(0,0,0,.237) 20.85%,rgba(0,0,0,.213) 24.35%,rgba(0,0,0,.188) 27.85%,rgba(0,0,0,.165) 31.35%,rgba(0,0,0,.144) 34.85%,rgba(0,0,0,.126) 38.35%,rgba(0,0,0,.112) 41.85%,rgba(0,0,0,.103) 45.35%,#0000001a 48.85%,rgba(0,0,0,.103) 52.35%,rgba(0,0,0,.112) 55.85%,rgba(0,0,0,.126) 59.35%,rgba(0,0,0,.144) 62.85%,rgba(0,0,0,.165) 66.35%,rgba(0,0,0,.188) 69.85%,rgba(0,0,0,.213) 73.35%,rgba(0,0,0,.237) 76.85%,rgba(0,0,0,.262) 80.35%,rgba(0,0,0,.285) 83.85%,rgba(0,0,0,.306) 87.35%,rgba(0,0,0,.324) 90.85%,rgba(0,0,0,.338) 94.35%,rgba(0,0,0,.347) 97.85%,#00000059);
    cursor: zoom-in;
}

.card-display-img:hover + .hover-elements{
    display: block;
}

.hover-elements:hover{
    display: block;
}


.wishlist,
.download,
.plus{
    display: inline-flex;
    height: 32px;
    padding: 0 11px;
    border-radius: 4px;
    text-align: center;
    fill: currentColor;
    background-color: #ffffffe6;
    border: 1px solid #0000;
    box-shadow: 0 1px 2px #0000000f;
    color: #555;
    float: right;
    cursor: pointer;
}

.wishlist svg, 
.download svg,
.plus svg{
    width: 15px;
}

.wishlist:hover, 
.download:hover,
.plus:hover{
    color: #000;
}

.wishlist{
    margin-right: 8px;
}

.download{
    float: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.profile-desc{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.profile-desc img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-desc span{
    color: #fff;
}

.popup-overlay{
    background: rgb(0 0 0 / 50%);
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}
.popup-overlay::-webkit-scrollbar{
    display: none;
}

.popup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.popup-close-evt svg{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
}

.popup-content-div{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 16px #00000026;
    margin: auto;
    min-width: 85vw;
    min-height: 90vh;
    padding: 20px;
    margin-top: 20px;
}

.popup-container > div > svg{
    fill: #fff;
    cursor: pointer;
}

.prev-arrow{
    position: absolute;
    left: 30px;
    padding: 20px;
    cursor: pointer;
}

.next-arrow{
    position: absolute;
    right: 30px;
    padding: 20px;
    cursor: pointer;
}

.popup-top-content{
    display: flex;
    justify-content: space-between;
}
.pop-profile-desc{
    display: flex;
    align-items: center;
}
.pop-profile-desc img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
.pop-profile-desc p:last-child{
    font-size: 12px;
    color: grey;
}

.popup-top-right{
    display: flex;
}
.pop-wishlist,
.pop-download,
.pop-plus{
    display: inline-flex;
    height: 32px;
    padding: 0 11px;
    border-radius: 4px;
    fill: currentColor;
    background-color: #ffffffe6;
    border: 1px solid #0000002b;
    box-shadow: 0 1px 2px #0000000f;
    color: #555;
    cursor: pointer;
}
.pop-plus{
    margin-right: 10px;
}

.pop-wishlist svg, 
.pop-download svg,
.pop-plus svg{
    width: 15px;
}

.pop-wishlist:hover, 
.pop-download:hover,
.pop-plus:hover{
    color: #000;
}

.pop-wishlist{
    margin-right: 8px;
}
.pop-download{
    display: flex;
    align-items: center;
    background-color: #3cb46e;
}
.pop-download span:nth-child(1){
    padding-right: 10px;
    color: #fff;
}
.pop-download svg{
    color: #fff;
}
.pop-dwnl{
    padding-left: 10px;
    border-left: 1px solid #fff;
}
.popup-img{
    max-height: 90vh;
    margin: 20px auto;
    display: block;
    user-select: none;
    cursor: zoom-in;
}
.popup-img.zoom{
    /* transform: scale(1.1); */
    max-height: none;
    cursor: zoom-out;
}